.ugPGmh_iv4lIuZkY1ZnL, .main-buddyFeed-content {
    width: 280px;
    margin-bottom: 150px;
    max-height: 320px;
}
/*.main-buddyFeed-container[aria-label="Now playing view"]*/
.ffFwfKcPDbmAPLXzxzKq[aria-label="Now playing view"] {
	align-self: flex-end;
	height: 320px;
    max-width: 280px !important;
}
/*.ffFwfKcPDbmAPLXzxzKq[Aria-label="Now playing view"], [Aria-label="Friend Activity"] {min-width: -webkit-fill-available !important;*/
/*.main-buddyFeed-container[aria-label="Queue"], [Aria-label="Friend Activity"]*/
.ffFwfKcPDbmAPLXzxzKq[aria-label="Queue"], [Aria-label="Friend Activity"] {
    margin-bottom: 0px !important;
    align-self: end;
    height: 320px;
	min-inline-size: -webkit-fill-available;
    max-width: 280px !important;
}
.XOawmCGZcQx4cesyNfVO {
	display: contents;
    position: fixed;
    justify-content: end;
}
button.encore-over-media-set.main-topBar-buddyFeed {
    height: 32px;
}
.Root__right-sidebar {
    grid-area: left-sidebar !important;
    pointer-events: none;
    z-index: 4 !important;
    position: relative;
    width: var(--left-sidebar-width);
}
html.no-focus-outline.spotify__os--is-windows.spotify__container--is-desktop {
    --panel-width: 280px !important;
}
aside#Desktop_PanelContainer_Id {
    pointer-events: auto;
    width: -webkit-fill-available !important;
    min-width: calc(var(--left-sidebar-width)* 1px) !important;
    min-height: calc(var(--left-sidebar-width)* 1px) !important;
    position: fixed;
}
.Root__right-sidebar > [Aria-label="Queue"], [Aria-label="Friend Activity"] {
    min-inline-size: -webkit-fill-available;
}
.Root__right-sidebar > [Aria-label="Now playing view"], [Aria-label="Friend Activity"] {
    min-width: -webkit-fill-available !important;
}
.ugPGmh_iv4lIuZkY1ZnL, .main-buddyFeed-content {
	width: 280px;
}
/*.main-buddyFeed-container*/
.ffFwfKcPDbmAPLXzxzKq {
	border-radius: 8px 8px 0px 0px;
}
.main-nowPlayingView-content {
	padding-top: 0px;
	margin-bottom: unset !important;
}
.main-buddyFeed-header{
	transform: translateY(8px);
}
.M5kgcnhbv4Vi_POvYxSZ {
	padding-block: 0px;
    margin-top: -10px;
}
.StyledTabItem-tab-tabItem-useBrowserDefaultFocusStyle {
    font-size: 1rem;
	min-block-size: unset;
}
.StyledTabItem-tab-tabItem-useBrowserDefaultFocusStyle::before {
    bottom: -1px;
}
.StyledTabItem-tab-tabItem-useBrowserDefaultFocusStyle:hover, .StyledTabItem-tab-tabItem-useBrowserDefaultFocusStyle:active {
    background-color: transparent !important;
}
/*Pad Fix*/
.Jg9Sdg82oTVV58xFeM2i {
	padding: 0px 13px 8px 13px;
}
.zduvaX0Ioxqd5ypeWoAf {
    padding: 0px 16px 16px 16px;
}
/*Unified Album Art Size*/
.main-nowPlayingView-coverArtContainer {
	min-height: 253px !important;
    min-width: 253px !important;
}
.main-nowPlayingView-contextItemInfo {
    align-items: baseline;
}
/*Remove Extra Info*/
.main-nowPlayingView-aboutArtistV2, .main-nowPlayingView-artistOnTour, .main-nowPlayingView-merch {
    display: none;
}
/*v1.2.45.454 Queue and Friend Activity Position Fix*/
.ffFwfKcPDbmAPLXzxzKq[aria-label=Queue], [Aria-label="Friend Activity"]{
	bottom: calc(var(--left-sidebar-grid-area-z-index)* 22px) !important;
}
button.encore-over-media-set.main-topBar-buddyFeed {
    bottom: 0px !important;
}
/*5/5/24 10:13pm fix*/
.main-buddyFeed-content, .main-nowPlayingView-content {
    margin-top: unset;
    padding-top: 0px;
}
.BZj_r1yzmmragvivUCrw {
    min-height: 0px;
}
.ZbDMGdU4aBOnrNLowNRq {
	margin-top: -5px;
	padding-top: 0px;
}
.main-buddyFeed-header.QjkE7lL6vDkJZovRnCjA {
	margin-top: 0px;
}
/*Heart Fix*/
.main-nowPlayingView-contextItemInfo .hhFdIYRyHsqlCHy7T_8A {
    color: var(--spice-color);
}
/*Devices*/
.main-devicePicker-tooltip{height:210px!important;padding-top:35px!important;padding-bottom:175px}html.no-focus-outline.spotify__os--is-windows.spotify__container--is-desktop{overflow:hidden!important}.main-devicePicker-devices{max-height:150px!important;min-height:75px!important;height:75px!important}.n7lpLbjlkn69nQ1BhwZg,.n7lpLbjlkn69nQ1BhwZg.ZtZC7H7E6gtj5tlwNsn8{max-height:150px!important;overflow-y:auto!important}.ajXfdFS_TUChA63kTlhA{display:none}.jd5BgldghOe68KEXK_hS{--device-picker-max-height:0px;min-height:75px}.CgzneMEIFUgv7Gxkf_pM{padding:8px 16px}.l6OcBOr8WqpAei2v3T50{margin-bottom:5px}aside#Desktop_PanelContainer_Id[aria-label="Connect to a device"]{pointer-events:auto;width: 280px !important;position:fixed;height:320px !important;bottom: calc(var(--left-sidebar-grid-area-z-index)* 22px) !important;}svg.Svg-sc-ytk21e-0.Svg-presentation-icon-large-textBrightAccent.KdGUk56d2SlrvrUsFjB1{filter:none!important}.main-genericButton-button.main-genericButton-buttonActive{color:var(--spice-color)}

/*RTL Cover Position & Aspect Ratio*/
.hCImOEZCJwYaSy2r1Xgx {justify-content: flex-end;}
.main-nowPlayingView-coverArtContainer.hCImOEZCJwYaSy2r1Xgx.pUIBQ9cykHKYx2A2ZIPA {aspect-ratio: 1;}

/*Album Art on Canvas Video*/
.hjyiWzPtKHn_5kCe9vyg .ylBRlfNqGnzVa4kjUQGP {opacity: 1; z-index: 1;}
._q9LkNJJIpxoOkOFI2Nd {visibility: visible !important;}
.spotify__container--is-desktop .hjyiWzPtKHn_5kCe9vyg.pUIBQ9cykHKYx2A2ZIPA {height: var(--left-sidebar-width); min-height: 16em !important; aspect-ratio: 1 !important;}
.main-nowPlayingView-coverArtContainer.hjyiWzPtKHn_5kCe9vyg {aspect-ratio: 1 !important;}
.ffFwfKcPDbmAPLXzxzKq[aria-label="Now playing view"] {height: 320px !important; min-height: calc(var(--left-sidebar-width)* 1.15px) !important;}

/*Share Button*/
.main-watchFeed-shareButton {top: 10px;}	
